{% extends "layout.html" %}
{% block content %}	
	<article class="media content-section">         
  	<div class="media-body">    	
    	<h2 class="article-title">{{ banner.title }}</h2> 
      <div>{{ banner.content }}</div>
  	</div>
    {% if banner.parent_campaign.author == current_user %}
      <div>
        <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('update_banner', banner_id=banner.id)}}">Update</a>
        <button class="btn btn-danger btn-sm m-1" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
      </div>
    {% endif %}
	</article> 
     <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Banner?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_banner', banner_id=banner.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

