{% extends "layout.html" %}
{% block content %}
	{% for ssp in ssps %}
		<article class="media content-section">       	   
    		<div class="media-body">      	
	      		<h2>{{ ssp.name }}</h2>  
	        	<p>Endpoint URL: {{ ssp.type}}</p> 
	        	<p>Endpoint URL: {{ ssp.endpoint_url}}</p>   	
    		</div>
    		<div>
        		<a class="btn btn-secondary btn-sm m-1" href="{{ url_for('update_ssp', ssp_id=ssp.id)}}">Update</a>
        		<button class="btn btn-danger btn-sm m-1" type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>        
      		</div>
		</article>
	{% endfor %}


{% endblock %}


